*{
	margin:0;
	padding:0;
	font-family:$font-familyOpen;
}

body{
	background-color: #C5454A;
}
/*Index*/
//index 1
#intro{
	background-color: #C5454A;
	padding-bottom:30%;

}

.intro-pelis{
	p{
		font-family:$font-familyAnton;
		font-size: 80px;
		color: $blanco;
		letter-spacing:3px;
		padding-top: 30%;
		padding-bottom: 10%;
		
	}
	button{
	background-color: $blanco;
	color: $rojo;
	padding: 10px;
	width: 100%;
	border-style: none;
	margin-top:8px;
	font-size: 17px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	border-radius:3px;
	}
	a{
		color:$rojo;
	}
}
/*Login*/
#login{
	background-color: $rojo;
	h5{
		font-family: Anton,sans-serif;
		text-transform: uppercase;
		color: #f5f5f5;
        font-size: 80px;
        letter-spacing: 3px;
        padding-top: 15%;
        padding-bottom: 10%;

	}
	#username label{
		color: white;
	}

	input[type=text]:not(.browser-default):focus:not([readonly]){
		border-bottom: 1px solid white;
		box-shadow: none;
	}
	input[type=text]:not(.browser-default):focus:not([readonly])+label{
		color: white;
		font-size: 13px;
	}
	
}
#button-login{
	.waves-effect{
	background-color: #f5f5f5;
    color: $rojo;
    width: 50%;
    border-style: none;
    margin-top: 8px;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 10px;
	border-radius: 3px;

	}
	.float{
		float: right;
		width: 59px;
		border-radius: 50%;
		
	}
	.gray{
		background-color:white;
		
	}
	.btn-floating.btn-large i {
    line-height: 56px;
    color:$rojo;
}
}


nav{
	background-color:$color-azul;
	width:100%;
}

.titulo-seccion{
	color:white;
	font-size: 23px;
}

.navbar{
	    display: flex;
}




#registro{
	background-color:$gris-claro;
	.btn{
	background-color:$gris-oscuro;	
	padding: 0 1rem;
	box-shadow: none;
	}
	#btn-save{
		margin-top: 20px;
	}
	#files{
		color: red;
		padding-top: 10px;
	}
	
	
}
.gris	{
		background-color: $gris-claro;
	}
.input-field{
	margin-top:15%;
	span{
		color: $rojo;
	}
	input{
		background-color:whitesmoke !important;
		border-radius: 3px !important;
		height: 30px !important;
	}
}

.botones{
	.upload{
		background-color:$gris-oscuro;
		font-size:12px;
		text-transform:capitalize;
		margin-bottom: 50px;
	}
	.create{
		background-color:$gris-oscuro;
		font-size:16px;
		width:70%;
		text-transform:capitalize;
	}
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* DETAILS */
.sectionDetails{
    background-color: white;
    #borderdelete{
        padding-left: 0;
        padding-right: 0;
    }
    h1{
        background-color: #2B2C30;;
        height: 50px;
        width: 100%;
        font-size: 150%;
        color: white;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
        /*
        margin-left: -22%;
        */
    }#backColor{
        background-color: #c14748;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100%;
        background-color: #c14748;
        width: 100%;
        
    }.iconComienzo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c14748;
        width: 100%;
        color: white;       
    }.movieWatch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 100%;
        background-color: #c14748;
        color: white;
    }.btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c14748;
        width: 90%;
        font-size: 90%;
    }#center-items{
        display: flex;
        align-items: center;
        justify-content: center;
    }.iconStar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3%;
        color: #c14748;
    }
}
/* END DETAILS*/

/*INICIO PROFILE*/
.profile{
    .imagen-profile{
        background-color: white;
    }
    .img-profile{
        margin-top: 2rem;
    }
    .text-profile{
        font-size: 15px;
    }
    .linea-roja{
        background-color: #c14748;
        height: 8vh;
        margin-top: 2rem;
    }
    .favorites{
        color:white;
    }

}

/* SECCION PELICULAS */

.peliculas{
	width:100%;
	background-color:white;
}

.filtrar{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 1%;
    background-color:$rojo;
    color:white;
}
.titulos{
	display: flex;
}

.movie-title{
	font-weight: 900;
	color:black;
}
.movie-year{
	margin-left: 2%;
    font-size: 10px;
    margin-top: 5px;
    color: gray;
}
.category{
	margin-left: 2%;
    font-size: 10px;
    margin-top: 5px;
    color: gray;
}

.lineavert{
	background-color: gray;
    width: 2px;
    height: 14px;
    margin-left: 1%;
    margin-right: -1%;
    margin-top: 1%;
}
.add-favorite{
	background-color: $rojo;
    border: none;
    border-radius: 6px;
	width: 82%;
    color: white;
}

.movie-details{
	display: flex;
}

.fa-clock-o{
	color: $rojo;
    font-size: 98%;
    margin-right: 1%;
}

.movie-minutes{
	font-size: 12px;
	color:$rojo;
	margin-right: 2%;
}

.movie-director{
	font-size: 12px;
	color:$rojo;
	margin-right: 2%;
}

.fa-film{
	color: $rojo;
    font-size: 98%;
    margin-right: 1%;
}

.movie:hover{
	background-color:$gris-claro;
}
/*FIN SECCION PELICULAS*/

/*Registro*/

