$font-familyAnton:'Anton', sans-serif;
$font-familyOpen: 'Open Sans', sans-serif;
$negrita: bold;
$blanco: whitesmoke;
$rojo: #c5454a;
$gris-claro: #e2e2e2;
$gris-oscuro: #2b2c30;
$color-azul:#2B2C30;

