$font-familyAnton:'Anton', sans-serif;
$font-familyOpen: 'Open Sans', sans-serif;
$negrita: bold;
$blanco: whitesmoke;
$rojo: #c5454a;
$gris-claro: #e2e2e2;
$gris-oscuro: #2b2c30;
$color-azul:#2B2C30;
$gray: #5b5b5b;
$yellow:#FAF2A1;
$text-btn:#E20049;
$text-purple:#453F78;
$japanese-purple:#3F2E56;
$weldon-blue:#759AAB;
